@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:100,200,300,400,500,600,700');

/*-------------------Nav----------------------*/

.background {
  height: 100vh;
  width: 100%;
}

.nav-item {
  height: 70px;
  background-color: #000201;
  text-align: center;
  padding: 0;
}

.fa-home,
.fa-user,
.fa-archive,
.fa-briefcase {
  font-size: 40px;
  color: #0378A6;
  padding: 5px;
}

/*-------------Text/Padding/Margin------------*/

#nav-text {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #0378A6;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

#nav-text:hover {
  opacity: 1;
}

#nav-link {
  text-decoration: none;
}

.sub-headings {
  padding-top: 10px;
  text-decoration: underline;
}

.landing-name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fafafa;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
  font-size: 100px;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fafafa;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  padding-top: 5%;
  font-size: 50px;
}


/*-------------------About Me-----------------*/

.about-me-container {
  background-color: #0378A6;
}

.skills-container {
  background-color: #fafafa
}

.about-me-text {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Red Hat Display', sans-serif;
  color: #fafafa;
}

.main-headings {
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.headings {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
}

.about-me-para {
  padding-bottom: 5px;  
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 100;
}

/*-------------------Skills-------------------*/

.skills-text {
  font-family: 'Red Hat Display', sans-serif;
  color: #0378a6;
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #5f6366;
  padding: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #5f6366;
  font-weight: 300;
  font-family: 'Red Hat Display', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  margin-left: 20px;
  margin-right: 20px;
}
.bar::before{
  content:  attr(data-skill);
  background-color: #04C4D9;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #90ccf4;
}
.bar.back::before{
  background-color: #5da2d5;
}
.bar.learning::before{
  background-color: #f78888;
}

.bar.learning::before{
  width: calc(30% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(70% - 10px);
}
.bar.expert::before{
  width: calc(90% - 10px);
}




/*-------------------Footer-------------------*/

footer {
  background-color: #000201;
  color: #0378A6;
  min-height: 130px;
  margin: 0;
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;

}

.contact-button {
  width: 130px;
  border: 0;
  height: 40px;
  margin: 40px;
  text-align: center;
  font-size: 18px;
  color: #fafafa;
  background: #474b4f;
  transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
}

.contact-button:hover {
  background-color: #04C4D9;
}

.personal-info-text {
  margin: 0;
  font-size: 14px;
  font-weight: 200;
}

.cv-link {
  margin-left: 5px;
  font-size: 16px;
  color: #0378A6;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.cv-link:hover {
  color: #025E73;
  cursor: pointer;
}

.social-links a {
  color: #474b4f;
  font-size: 35px;
  padding: 5px;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.social-links a:hover {
  color: #04C4D9;
}

/*----------------Media Queries---------------*/

@media(max-width: 575px) {
  .contact-button {
    margin: 10px 0px 0px 0px;
  }
}

@media(max-width: 575px) {
  .fa-home,
  .fa-user,
  .fa-archive,
  .fa-briefcase {
    font-size: 25px;
    padding: 10px;
  }
}

@media(max-width: 575px) {
  #nav-text {
    opacity: 1;
    font-size: 12px;
  }
}

@media(max-width: 414px) {
  .landing-text {
    padding-top: 20%;
    font-size: 25px;
  }
}

@media(max-width: 414px) {
  .landing-name {
    font-size: 50px;
  }
}

@media(min-width: 415px) {
  .landing-text {
    padding-top: 15%;
  }
}



