@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:100,200,300,400,500,600,700');

/*-------------------Nav----------------------*/

.background {
  height: 100vh;
  width: 100%;
}

.nav-item {
  height: 70px;
  background-color: #000201;
  text-align: center;
  padding: 0;
}

.fa-home,
.fa-user,
.fa-archive,
.fa-briefcase {
  font-size: 40px;
  color: #0378A6;
  padding: 5px;
}

/*-------------Text/Padding/Margin------------*/

#nav-text {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #0378A6;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity  0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

#nav-text:hover {
  opacity: 1;
}

#nav-link {
  text-decoration: none;
}

.sub-headings {
  padding-top: 10px;
  text-decoration: underline;
}

.landing-name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fafafa;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fafafa;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  padding-top: 5%;
}

/*------------About Me / SKills---------------*/





/*-------------------Footer-------------------*/

footer {
  background-color: #000201;
  color: #0378A6;
  min-height: 130px;
  margin: 0;
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;

}

.contact-button {
  width: 130px;
  border: 0;
  height: 40px;
  margin: 40px;
  text-align: center;
  font-size: 18px;
  color: #fafafa;
  background: #474b4f;
  transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
}

.contact-button:hover {
  background-color: #04C4D9;
}

.personal-info-text {
  margin: 0;
  font-size: 14px;
  font-weight: 200;
}

.cv-link {
  margin-left: 5px;
  font-size: 16px;
  color: #0378A6;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.cv-link:hover {
  color: #025E73;
  cursor: pointer;
}

.social-links a {
  color: #474b4f;
  font-size: 35px;
  padding: 5px;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.social-links a:hover {
  color: #04C4D9;
}

/*----------------Media Queries---------------*/

@media(max-width: 575px) {
  .contact-button {
    margin: 10px 0px 0px 0px;
  }
}

@media(max-width: 575px) {
  .fa-home,
  .fa-user,
  .fa-archive,
  .fa-briefcase {
    font-size: 25px;
    padding: 10px;
  }
}

@media(max-width: 575px) {
  #nav-text {
    opacity: 1;
  }
}

@media(max-width: 330px) {
   .landing-text {
     padding-top: 20%;
   }  
}






